pandas>=2.0
numpy
scikit-learn>=1.3
nltk
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
gensim>=4.3
pyLDAvis
bertopic>=0.16
sentence-transformers>=2.2
transformers>=4.40
tqdm
streamlit>=1.32
datasets